article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline; zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, textarea { font-family: sans-serif; }

a:focus { outline: none; }

a:active, a:hover { outline: 0; }

h1 { margin: .67em 0; }

h2 { margin: .83em 0; }

h4 { margin: 1.33em 0; }

h5 { margin: 1.67em 0; }

h6 { margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

legend { border: 0; white-space: normal; margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; vertical-align: middle; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; overflow: visible; }

button[disabled], html input[disabled] { cursor: default; }

input[type=checkbox], input[type=radio] { box-sizing: border-box; height: 13px; width: 13px; padding: 0; }

input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

.clearfix { zoom: 1; }

.clearfix:before, .clearfix:after { display: table; content: ""; line-height: 0; }

.clearfix:after { clear: both; }

.last { clear: right; }

.first { clear: left; }

.no-bottom-border { border-bottom: none !important; }

.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

.isotope, .isotope .isotope-item { -webkit-transition-duration: .8s; -moz-transition-duration: .8s; -ms-transition-duration: .8s; -o-transition-duration: .8s; transition-duration: .8s; }

.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }

.isotope .isotope-item { -webkit-transition-property: 0 opacity; -moz-transition-property: 0 opacity; -ms-transition-property: 0 opacity; -o-transition-property: 0 opacity; transition-property: transform, opacity; }

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0; -moz-transition-duration: 0; -ms-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; }

.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

body, figure, form { margin: 0; }

h3, p, pre, dl, menu, ol, ul { margin: 1em 0; }

.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption { max-width: 100%; height: auto; }

.entry-content img, .entry-summary img, .comment-content img[height], img[class*=align], img[class*=wp-image-], img[class*=attachment-] { height: auto; }

.entry-media img, img.size-full, img.size-large, img.wp-post-image { height: auto; max-width: 100%; }

embed, iframe, object, video { max-width: 100%; }

.entry-content .twitter-tweet-rendered { max-width: 100% !important; }

.alignleft { float: left; }

.alignright { float: right; }

.aligncenter { display: block; margin-left: auto; margin-right: auto; }

img.alignleft { margin: 10px 20px 15px 0; }

.wp-caption.alignleft { margin: 5px 10px 15px 0; }

img.alignright { margin: 10px 0 15px 20px; }

.wp-caption.alignright { margin: 5px 0 15px 10px; }

img.aligncenter { margin: 10px auto; }

img.alignnone { margin: 5px 0; }

.wp-caption .wp-caption-text, .entry-caption, .gallery-caption { color: #220e10; font-size: 18px; font-style: italic; font-weight: 300; }

img.wp-smiley, .rsswidget img { border: 0; border-radius: 0; box-shadow: none; margin-bottom: 0; margin-top: 0; padding: 0; }

div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right { height: 13px; }

div.pp_default .pp_top .pp_left { background: url(../i/prettyPhoto/default/sprite.png) -78px -93px no-repeat; }

div.pp_default .pp_top .pp_middle { background: url(../i/prettyPhoto/default/sprite_x.png) top left repeat-x; }

div.pp_default .pp_top .pp_right { background: url(../i/prettyPhoto/default/sprite.png) -112px -93px no-repeat; }

div.pp_default .pp_content .ppt { color: #f8f8f8; }

div.pp_default .pp_content_container .pp_left { background: url(../i/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y; padding-left: 13px; }

div.pp_default .pp_content_container .pp_right { background: url(../i/prettyPhoto/default/sprite_y.png) top right repeat-y; padding-right: 13px; }

div.pp_default .pp_next:hover { background: url(../i/prettyPhoto/default/sprite_next.png) center right no-repeat; cursor: pointer; }

div.pp_default .pp_previous:hover { background: url(../i/prettyPhoto/default/sprite_prev.png) center left no-repeat; cursor: pointer; }

div.pp_default .pp_expand { background: url(../i/prettyPhoto/default/sprite.png) 0 -29px no-repeat; cursor: pointer; width: 28px; height: 28px; }

div.pp_default .pp_expand:hover { background: url(../i/prettyPhoto/default/sprite.png) 0 -56px no-repeat; cursor: pointer; }

div.pp_default .pp_contract { background: url(../i/prettyPhoto/default/sprite.png) 0 -84px no-repeat; cursor: pointer; width: 28px; height: 28px; }

div.pp_default .pp_contract:hover { background: url(../i/prettyPhoto/default/sprite.png) 0 -113px no-repeat; cursor: pointer; }

div.pp_default .pp_close { width: 30px; height: 30px; background: url(../i/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor: pointer; }

div.pp_default .pp_gallery ul li a { background: url(../i/prettyPhoto/default/default_thumb.png) center center #f8f8f8; border: 1px solid #aaa; }

div.pp_default .pp_social { margin-top: 7px; }

div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next { position: static; left: auto; }

div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause { background: url(../i/prettyPhoto/default/sprite.png) -51px 1px no-repeat; height: 30px; width: 30px; }

div.pp_default .pp_nav .pp_pause { background-position: -51px -29px; }

div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next { background: url(../i/prettyPhoto/default/sprite.png) -31px -3px no-repeat; height: 20px; width: 20px; margin: 4px 0 0; }

div.pp_default a.pp_arrow_next { left: 52px; background-position: -82px -3px; }

div.pp_default .pp_content_container .pp_details { margin-top: 5px; }

div.pp_default .pp_nav { clear: none; height: 30px; width: 110px; position: relative; }

div.pp_default .pp_nav .currentTextHolder { font-family: Georgia; font-style: italic; color: #999; font-size: 11px; left: 75px; line-height: 25px; position: absolute; top: 2px; margin: 0; padding: 0 0 0 10px; }

div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover { opacity: 0.7; }

div.pp_default .pp_description { font-size: 11px; font-weight: 700; line-height: 14px; margin: 5px 50px 5px 0; }

div.pp_default .pp_bottom .pp_left { background: url(../i/prettyPhoto/default/sprite.png) -78px -127px no-repeat; }

div.pp_default .pp_bottom .pp_middle { background: url(../i/prettyPhoto/default/sprite_x.png) bottom left repeat-x; }

div.pp_default .pp_bottom .pp_right { background: url(../i/prettyPhoto/default/sprite.png) -112px -127px no-repeat; }

div.pp_default .pp_loaderIcon { background: url(../i/prettyPhoto/default/loader.gif) center center no-repeat; }

div.light_rounded .pp_top .pp_left { background: url(../i/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat; }

div.light_rounded .pp_top .pp_right { background: url(../i/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat; }

div.light_rounded .pp_next:hover { background: url(../i/prettyPhoto/light_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

div.light_rounded .pp_previous:hover { background: url(../i/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

div.light_rounded .pp_expand { background: url(../i/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

div.light_rounded .pp_expand:hover { background: url(../i/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

div.light_rounded .pp_contract { background: url(../i/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

div.light_rounded .pp_contract:hover { background: url(../i/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

div.light_rounded .pp_close { width: 75px; height: 22px; background: url(../i/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

div.light_rounded .pp_nav .pp_play { background: url(../i/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_nav .pp_pause { background: url(../i/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_arrow_previous { background: url(../i/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat; }

div.light_rounded .pp_arrow_next { background: url(../i/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat; }

div.light_rounded .pp_bottom .pp_left { background: url(../i/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat; }

div.light_rounded .pp_bottom .pp_right { background: url(../i/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat; }

div.dark_rounded .pp_top .pp_left { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat; }

div.dark_rounded .pp_top .pp_right { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat; }

div.dark_rounded .pp_content_container .pp_left { background: url(../i/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y; }

div.dark_rounded .pp_content_container .pp_right { background: url(../i/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y; }

div.dark_rounded .pp_next:hover { background: url(../i/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

div.dark_rounded .pp_previous:hover { background: url(../i/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

div.dark_rounded .pp_expand { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

div.dark_rounded .pp_expand:hover { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

div.dark_rounded .pp_contract { background: url(../i/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

div.dark_rounded .pp_contract:hover { background: url(../i/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

div.dark_rounded .pp_close { width: 75px; height: 22px; background: url(../i/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

div.dark_rounded .pp_description { margin-right: 85px; color: #fff; }

div.dark_rounded .pp_nav .pp_play { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_nav .pp_pause { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_arrow_previous { background: url(../i/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat; }

div.dark_rounded .pp_arrow_next { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat; }

div.dark_rounded .pp_bottom .pp_left { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat; }

div.dark_rounded .pp_bottom .pp_right { background: url(../i/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat; }

div.dark_rounded .pp_loaderIcon { background: url(../i/prettyPhoto/dark_rounded/loader.gif) center center no-repeat; }

div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content { background: #000; }

div.dark_square .pp_description { color: #fff; margin: 0 85px 0 0; }

div.dark_square .pp_loaderIcon { background: url(../i/prettyPhoto/dark_square/loader.gif) center center no-repeat; }

div.dark_square .pp_expand { background: url(../i/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

div.dark_square .pp_expand:hover { background: url(../i/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

div.dark_square .pp_contract { background: url(../i/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

div.dark_square .pp_contract:hover { background: url(../i/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

div.dark_square .pp_close { width: 75px; height: 22px; background: url(../i/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

div.dark_square .pp_nav { clear: none; }

div.dark_square .pp_nav .pp_play { background: url(../i/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_nav .pp_pause { background: url(../i/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_arrow_previous { background: url(../i/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat; }

div.dark_square .pp_arrow_next { background: url(../i/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat; }

div.dark_square .pp_next:hover { background: url(../i/prettyPhoto/dark_square/btnNext.png) center right no-repeat; cursor: pointer; }

div.dark_square .pp_previous:hover { background: url(../i/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

div.light_square .pp_expand { background: url(../i/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

div.light_square .pp_expand:hover { background: url(../i/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

div.light_square .pp_contract { background: url(../i/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

div.light_square .pp_contract:hover { background: url(../i/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

div.light_square .pp_close { width: 75px; height: 22px; background: url(../i/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

div.light_square .pp_nav .pp_play { background: url(../i/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_nav .pp_pause { background: url(../i/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_arrow_previous { background: url(../i/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat; }

div.light_square .pp_arrow_next { background: url(../i/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat; }

div.light_square .pp_next:hover { background: url(../i/prettyPhoto/light_square/btnNext.png) center right no-repeat; cursor: pointer; }

div.light_square .pp_previous:hover { background: url(../i/prettyPhoto/light_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

div.facebook .pp_top .pp_left { background: url(../i/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat; }

div.facebook .pp_top .pp_middle { background: url(../i/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x; }

div.facebook .pp_top .pp_right { background: url(../i/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat; }

div.facebook .pp_content_container .pp_left { background: url(../i/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y; }

div.facebook .pp_content_container .pp_right { background: url(../i/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y; }

div.facebook .pp_expand { background: url(../i/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat; cursor: pointer; }

div.facebook .pp_expand:hover { background: url(../i/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat; cursor: pointer; }

div.facebook .pp_contract { background: url(../i/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat; cursor: pointer; }

div.facebook .pp_contract:hover { background: url(../i/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat; cursor: pointer; }

div.facebook .pp_close { width: 22px; height: 22px; background: url(../i/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat; cursor: pointer; }

div.facebook .pp_description { margin: 0 37px 0 0; }

div.facebook .pp_loaderIcon { background: url(../i/prettyPhoto/facebook/loader.gif) center center no-repeat; }

div.facebook .pp_arrow_previous { background: url(../i/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

div.facebook .pp_arrow_previous.disabled { background-position: 0 -96px; cursor: default; }

div.facebook .pp_arrow_next { background: url(../i/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

div.facebook .pp_arrow_next.disabled { background-position: -32px -96px; cursor: default; }

div.facebook .pp_nav { margin-top: 0; }

div.facebook .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }

div.facebook .pp_nav .pp_play { background: url(../i/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_nav .pp_pause { background: url(../i/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_next:hover { background: url(../i/prettyPhoto/facebook/btnNext.png) center right no-repeat; cursor: pointer; }

div.facebook .pp_previous:hover { background: url(../i/prettyPhoto/facebook/btnPrevious.png) center left no-repeat; cursor: pointer; }

div.facebook .pp_bottom .pp_left { background: url(../i/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat; }

div.facebook .pp_bottom .pp_middle { background: url(../i/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x; }

div.facebook .pp_bottom .pp_right { background: url(../i/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat; }

div.pp_pic_holder a:focus { outline: none; }

div.pp_overlay { background: #000; display: none; left: 0; position: absolute; top: 0; width: 100%; z-index: 9500; }

div.pp_pic_holder { display: none; position: absolute; width: 100px; z-index: 10000; }

.pp_content { height: 40px; min-width: 40px; }

* html .pp_content { width: 40px; }

.pp_content_container { position: relative; text-align: left; width: 100%; }

.pp_content_container .pp_left { padding-left: 20px; }

.pp_content_container .pp_right { padding-right: 20px; }

.pp_content_container .pp_details { float: left; margin: 10px 0 2px; }

.pp_description { display: none; margin: 0; }

.pp_social { float: left; margin: 0; }

.pp_social .facebook { float: left; margin-left: 5px; width: 55px; overflow: hidden; }

.pp_social .twitter { float: left; }

.pp_nav { clear: right; float: left; margin: 3px 10px 0 0; }

.pp_nav p { float: left; white-space: nowrap; margin: 2px 4px; }

.pp_nav .pp_play, .pp_nav .pp_pause { float: left; margin-right: 4px; text-indent: -10000px; }

a.pp_arrow_previous, a.pp_arrow_next { display: block; float: left; height: 15px; margin-top: 3px; overflow: hidden; text-indent: -10000px; width: 14px; }

.pp_hoverContainer { position: absolute; top: 0; width: 100%; z-index: 2000; }

.pp_gallery { display: none; left: 50%; margin-top: -50px; position: absolute; z-index: 10000; }

.pp_gallery div { float: left; overflow: hidden; position: relative; }

.pp_gallery ul { float: left; height: 35px; position: relative; white-space: nowrap; margin: 0 0 0 5px; padding: 0; }

.pp_gallery ul a { border: 1px rgba(0, 0, 0, 0.5) solid; display: block; float: left; height: 33px; overflow: hidden; }

.pp_gallery ul a img { border: 0; }

.pp_gallery li { display: block; float: left; margin: 0 5px 0 0; padding: 0; }

.pp_gallery li.default a { background: url(../i/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat; display: block; height: 33px; width: 50px; }

.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next { margin-top: 7px !important; }

a.pp_next { background: url(../i/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: right; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_previous { background: url(../i/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: left; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_expand, a.pp_contract { cursor: pointer; display: none; height: 20px; position: absolute; right: 30px; text-indent: -10000px; top: 10px; width: 20px; z-index: 20000; }

a.pp_close { position: absolute; right: 0; top: 0; display: block; line-height: 22px; text-indent: -10000px; }

.pp_loaderIcon { display: block; height: 24px; left: 50%; position: absolute; top: 50%; width: 24px; margin: -12px 0 0 -12px; }

#pp_full_res { line-height: 1 !important; }

#pp_full_res .pp_inline { text-align: left; }

#pp_full_res .pp_inline p { margin: 0 0 15px; }

div.ppt { color: #fff; display: none; font-size: 17px; z-index: 9999; margin: 0 0 5px 15px; }

div.pp_default .pp_content, div.light_rounded .pp_content { background-color: #fff; }

div.pp_default #pp_full_res .pp_inline, div.light_rounded .pp_content .ppt, div.light_rounded #pp_full_res .pp_inline, div.light_square .pp_content .ppt, div.light_square #pp_full_res .pp_inline, div.facebook .pp_content .ppt, div.facebook #pp_full_res .pp_inline { color: #000; }

div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a, .pp_gallery ul a:hover, .pp_gallery li.selected a { border-color: #fff; }

div.pp_default .pp_details, div.light_rounded .pp_details, div.dark_rounded .pp_details, div.dark_square .pp_details, div.light_square .pp_details, div.facebook .pp_details { position: relative; }

div.light_rounded .pp_top .pp_middle, div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right, div.light_rounded .pp_bottom .pp_middle, div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content, div.facebook .pp_content { background: #fff; }

div.light_rounded .pp_description, div.light_square .pp_description { margin-right: 85px; }

div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next, div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next, div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next, div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.light_rounded .pp_arrow_previous.disabled, div.dark_rounded .pp_arrow_previous.disabled, div.dark_square .pp_arrow_previous.disabled, div.light_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.light_rounded .pp_arrow_next.disabled, div.dark_rounded .pp_arrow_next.disabled, div.dark_square .pp_arrow_next.disabled, div.light_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.light_rounded .pp_loaderIcon, div.light_square .pp_loaderIcon { background: url(../i/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

div.dark_rounded .pp_top .pp_middle, div.dark_rounded .pp_content, div.dark_rounded .pp_bottom .pp_middle { background: url(../i/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

div.dark_rounded .currentTextHolder, div.dark_square .currentTextHolder { color: #c4c4c4; }

div.dark_rounded #pp_full_res .pp_inline, div.dark_square #pp_full_res .pp_inline { color: #fff; }

.pp_top, .pp_bottom { height: 20px; position: relative; }

* html .pp_top, * html .pp_bottom { padding: 0 20px; }

.pp_top .pp_left, .pp_bottom .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }

.pp_top .pp_middle, .pp_bottom .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }

* html .pp_top .pp_middle, * html .pp_bottom .pp_middle { left: 0; position: static; }

.pp_top .pp_right, .pp_bottom .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }

.pp_fade, .pp_gallery li.default a img { display: none; }


/** Event Pro Compatibility */

.ui-datepicker { z-index: 4 !important; }

.em-toggle.hide { display: block; }

.relative { position: relative; }

pre { padding: 10px; border: 1px solid #f4f4f4; }

table { width: 100%; margin-bottom: 30px; }

table th { font-weight: 100; padding: 10px 20px; text-align: left; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7; }

table tr th { border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; }

table tr td { padding: 10px 20px; text-align: left; }

form input[type=password], form input[type=text], form input[type=email] { padding: 12px 10px; border: 1px solid #eeeeee; width: 94%; color: #444; border-radius: 3px; }

form textarea { padding: 12px 10px; border: 1px solid #eeeeee; width: 94%; color: #444; overflow: auto; }

form input[type=submit] { border: none; outline: none; display: inline-block; padding: 12px 15px; border-radius: 3px; background: #32353c; color: #fff; }

form input[type=submit]:hover { background: #b5a4cf; }

iframe { border: none; outline: none; }


/* Swiper - Mobile Touch Slider CSS http://www.idangero.us/sliders/swiper  Vladimir Kharlampidi, The iDangero.us http://www.idangero.us/  Copyright 2012-2013, Vladimir Kharlampidi The iDangero.us http://www.idangero.us  Licensed under GPL & MIT 
*/


/* ===============================================================
Basic Swiper Styles 
================================================================*/

.swiper-container { position: relative; overflow: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; margin: 0 auto; }

.swiper-wrapper { position: relative; width: 100%; -webkit-transition-property: 0 left, top; -webkit-transition-duration: 0; -webkit-transform: translate3d(0px, 0, 0); -webkit-transition-timing-function: ease; -moz-transition-property: 0 left, top; -moz-transition-duration: 0; -moz-transform: translate3d(0px, 0, 0); -moz-transition-timing-function: ease; -o-transition-property: 0 left, top; -o-transition-duration: 0; -o-transition-timing-function: ease; -o-transform: translate(0px, 0px); -ms-transition-property: 0 left, top; -ms-transition-duration: 0; -ms-transform: translate3d(0px, 0, 0); -ms-transition-timing-function: ease; transition-property: transform, left, top; transition-duration: 0; transform: translate3d(0px, 0, 0); transition-timing-function: ease; }

.swiper-free-mode > .swiper-wrapper { -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto; }

.swiper-slide { float: left; }

.swiper-wp8-horizontal { -ms-touch-action: pan-y; }

.swiper-wp8-vertical { -ms-touch-action: pan-x; }


/* ===============================================================
Pagination Styles
================================================================*/

.swiper-scrollbar { position: relative; -ms-touch-action: none; background: rgba(0, 0, 0, 0.1); }

.swiper-scrollbar-drag { height: 100%; width: 100%; position: relative; background: rgba(0, 0, 0, 0.5); }

.swiper-scrollbar-cursor-drag { cursor: move; }

.mejs-container { position: relative; background: rgba(0, 0, 0, 0.1); text-align: left; vertical-align: top; text-indent: 0; }

.me-plugin { position: absolute; }

.mejs-embed, .mejs-embed body { width: 100%; height: 100%; background: #000; overflow: hidden; margin: 0; padding: 0; }

.mejs-fullscreen { overflow: hidden !important; }

.mejs-container-fullscreen { position: fixed; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: 1000; }

.mejs-clear { clear: both; }

.mejs-mediaelement { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.mejs-poster { position: absolute; top: 0; left: 0; background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; }

.mejs-poster img { border: 0; padding: 0; }

.mejs-overlay-play { cursor: pointer; }

.mejs-overlay-button { position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; background: url(../i/bigplay.svg) no-repeat; margin: -50px 0 0 -50px; }

.no-svg .mejs-overlay-button { background-image: url(bigplay.png); }

.mejs-overlay:hover .mejs-overlay-button { background-position: 0 -100px; }

.mejs-overlay-loading { position: absolute; top: 50%; left: 50%; width: 80px; height: 80px; background: rgba(0, 0, 0, 0.9); margin: -40px 0 0 -40px; }

.mejs-overlay-loading span { display: block; width: 80px; height: 80px; background: transparent url(../i/loader.gif) 50% 50% no-repeat; }

.mejs-container .mejs-controls { position: absolute; list-style-type: none; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.7); height: 30px; width: 100%; margin: 0; padding: 0; }

.mejs-container .mejs-controls div { list-style-type: none; background-image: none; display: block; float: left; width: 26px; height: 26px; font-size: 11px; line-height: 11px; font-family: Helvetica, Arial; border: 0; margin: 0; padding: 0; }

.mejs-controls .mejs-button button { cursor: pointer; display: block; font-size: 0; line-height: 0; text-decoration: none; position: absolute; height: 16px; width: 16px; border: 0; background: transparent url(../i/controls.svg) no-repeat; margin: 7px 5px; padding: 0; }

.no-svg .mejs-controls .mejs-button button { background-image: url(../i/controls.png); }

.mejs-controls .mejs-button button:focus { outline: solid 1px #FF0; }

.mejs-container .mejs-controls .mejs-time { color: #fff; display: block; height: 17px; width: auto; overflow: hidden; text-align: center; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; padding: 8px 3px 0; }

.mejs-container .mejs-controls .mejs-time span { color: #fff; font-size: 11px; line-height: 12px; display: block; float: left; width: auto; margin: 1px 2px 0 0; }

.mejs-controls .mejs-play button { background-position: 0 0; }

.mejs-controls .mejs-pause button { background-position: 0 -16px; }

.mejs-controls .mejs-stop button { background-position: -112px 0; }

.mejs-controls div.mejs-time-rail { direction: ltr; width: 200px; padding-top: 5px; }

.mejs-controls .mejs-time-rail span { display: block; position: absolute; width: 180px; height: 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; cursor: pointer; }

.mejs-controls .mejs-time-rail .mejs-time-total { background: rgba(50, 50, 50, 0.8); margin: 5px; }

.mejs-controls .mejs-time-rail .mejs-time-buffering { width: 100%; background: rgba(50, 50, 50, 0.8); -webkit-animation: buffering-stripes 2s linear infinite; -moz-animation: buffering-stripes 2s linear infinite; -ms-animation: buffering-stripes 2s linear infinite; -o-animation: buffering-stripes 2s linear infinite; animation: buffering-stripes 2s linear infinite; }

to { background-position: 30px 0; }

.mejs-controls .mejs-time-rail .mejs-time-loaded { background: rgba(60, 170, 200, 0.8); width: 0; }

.mejs-controls .mejs-time-rail .mejs-time-current { background: rgba(255, 255, 255, 0.8); width: 0; }

.mejs-controls .mejs-time-rail .mejs-time-handle { display: none; position: absolute; width: 10px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; cursor: pointer; border: solid 2px #333; top: -2px; text-align: center; margin: 0; }

.mejs-controls .mejs-time-rail .mejs-time-float { position: absolute; display: none; background: #eee; width: 36px; height: 17px; border: solid 1px #333; top: -26px; margin-left: -18px; text-align: center; color: #111; }

.mejs-controls .mejs-time-rail .mejs-time-float-current { width: 30px; display: block; text-align: center; left: 0; margin: 2px; }

.mejs-controls .mejs-time-rail .mejs-time-float-corner { position: absolute; display: block; width: 0; height: 0; line-height: 0; border: solid 5px #eee; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; top: 15px; left: 13px; border-color: #eee transparent transparent; }

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float { width: 48px; }

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current { width: 44px; }

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner { left: 18px; }

.mejs-controls .mejs-fullscreen-button button { background-position: -32px 0; }

.mejs-controls .mejs-unfullscreen button { background-position: -32px -16px; }

.mejs-controls .mejs-mute button { background-position: -16px -16px; }

.mejs-controls .mejs-unmute button { background-position: -16px 0; }

.mejs-controls .mejs-volume-button .mejs-volume-slider { display: none; height: 115px; width: 25px; background: rgba(0, 0, 0, 0.1); -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; top: -115px; left: 0; z-index: 1; position: absolute; margin: 0; }

.mejs-controls .mejs-volume-button:hover { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total { position: absolute; left: 11px; top: 8px; width: 2px; height: 100px; background: rgba(255, 255, 255, 0.5); margin: 0; }

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current { position: absolute; left: 11px; top: 8px; width: 2px; height: 100px; background: rgba(255, 255, 255, 0.9); margin: 0; }

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle { position: absolute; left: 4px; top: -3px; width: 16px; height: 6px; background: rgba(255, 255, 255, 0.9); cursor: N-resize; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; margin: 0; }

.mejs-controls div.mejs-horizontal-volume-slider { height: 26px; width: 60px; position: relative; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total { position: absolute; left: 0; top: 11px; width: 50px; height: 8px; font-size: 1px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: rgba(50, 50, 50, 0.8); margin: 0; padding: 0; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { position: absolute; left: 0; top: 11px; width: 50px; height: 8px; font-size: 1px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background: rgba(255, 255, 255, 0.8); margin: 0; padding: 0; }

.mejs-controls .mejs-captions-button button { background-position: -48px 0; }

.mejs-controls .mejs-captions-button .mejs-captions-translations { font-size: 10px; margin: 0 0 5px; }

.mejs-chapters { position: absolute; top: 0; left: 0; -xborder-right: solid 1px #fff; width: 10000px; z-index: 1; }

.mejs-chapters .mejs-chapter { position: absolute; float: left; background: rgba(0, 0, 0, 0.7); overflow: hidden; border: 0; }

.mejs-chapters .mejs-chapter .mejs-chapter-block { font-size: 11px; color: #fff; display: block; border-right: solid 1px #333; border-bottom: solid 1px #333; cursor: pointer; padding: 5px; }

.mejs-chapters .mejs-chapter .mejs-chapter-block-last { border-right: none; }

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover { background: rgba(102, 102, 102, 0.7); }

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title { font-size: 12px; font-weight: 700; display: block; white-space: nowrap; text-overflow: ellipsis; line-height: 12px; margin: 0 0 3px; }

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan { font-size: 12px; line-height: 12px; display: block; white-space: nowrap; text-overflow: ellipsis; margin: 3px 0 4px; }

.mejs-captions-layer { position: absolute; bottom: 0; left: 0; text-align: center; line-height: 22px; font-size: 12px; color: #fff; }

.mejs-captions-layer a { color: #fff; text-decoration: underline; }

.mejs-captions-layer[lang=ar] { font-size: 20px; font-weight: 400; }

.mejs-captions-position { position: absolute; width: 100%; bottom: 15px; left: 0; }

.mejs-captions-position-hover { bottom: 45px; }

.mejs-captions-text { background: rgba(20, 20, 20, 0.8); padding: 3px 5px; }

.me-cannotplay a { color: #fff; font-weight: 700; }

.me-cannotplay span { display: block; padding: 15px; }

.mejs-controls .mejs-loop-off button { background-position: -64px -16px; }

.mejs-controls .mejs-loop-on button { background-position: -64px 0; }

.mejs-controls .mejs-backlight-off button { background-position: -80px -16px; }

.mejs-controls .mejs-backlight-on button { background-position: -80px 0; }

.mejs-controls .mejs-picturecontrols-button { background-position: -96px 0; }

.mejs-contextmenu { position: absolute; width: 150px; border-radius: 4px; top: 0; left: 0; background: #fff; border: solid 1px #999; z-index: 1001; padding: 10px; }

.mejs-contextmenu .mejs-contextmenu-separator { height: 1px; font-size: 0; background: #333; margin: 5px 6px; }

.mejs-contextmenu .mejs-contextmenu-item { font-family: Helvetica, Arial; font-size: 12px; cursor: pointer; color: #333; padding: 4px 6px; }

.mejs-contextmenu .mejs-contextmenu-item:hover { background: #2C7C91; color: #fff; }

.mejs-controls .mejs-sourcechooser-button button { background-position: -128px 0; }

.mejs-postroll-layer { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(50, 50, 50, 0.7); z-index: 1000; overflow: hidden; }

.mejs-postroll-close { position: absolute; right: 0; top: 0; background: rgba(50, 50, 50, 0.7); color: #fff; z-index: 100; cursor: pointer; padding: 4px; }

.mejs-container-fullscreen .mejs-mediaelement, .mejs-container-fullscreen video, .mejs-postroll-layer-content { width: 100%; height: 100%; }

.mejs-background, .mejs-overlay { position: absolute; top: 0; left: 0; }

:root .mejs-poster img, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle { display: none; }

.mejs-controls .mejs-volume-button, .mejs-controls .mejs-captions-button, .mejs-controls .mejs-sourcechooser-button { position: relative; }

.mejs-controls .mejs-captions-button .mejs-captions-selector, .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector { visibility: hidden; position: absolute; bottom: 26px; right: -10px; width: 130px; height: 100px; background: rgba(50, 50, 50, 0.7); border: solid 1px transparent; overflow: hidden; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding: 10px; }

.mejs-controls .mejs-captions-button .mejs-captions-selector ul, .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul { display: block; list-style-type: none !important; overflow: hidden; margin: 0; padding: 0; }

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li, .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li { list-style-type: none !important; display: block; color: #fff; overflow: hidden; margin: 0 0 6px; padding: 0; }

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input, .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li input { clear: both; float: left; margin: 3px 3px 0 5px; }

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label, .mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li label { width: 100px; float: left; line-height: 15px; font-family: helvetica, arial; font-size: 10px; padding: 4px 0 0; }
