/* CSS Document */

* html .clearfix {
  height: 1%;
}

/* Hides from IE-mac \*/
/* line 9, global.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 10, global.scss */
.clearfix {
  display: inline-block;
  *zoom: 1;
}

/* line 11, global.scss */
.clearfix {
  display: block;
}


div.rad-page-content h4 { text-align: center; padding: 50px 0; cursor:pointer; font-family:"Open Sans"; color:#555; }
div.rad-page-content {  background:#eee;  overflow:hidden; border-radius:5px; position: relative; }
div.rad-page-content .roverlay { position: absolute; z-index:2; position: absolute; top:0; left:0; right:0; bottom:0;  }
div.inner-rad-content-wrap { position: absolute; top:0; left:0; display: none; width: 0;  overflow:hidden;}

.col { margin-right:1.2%; margin-bottom:1.2%; float: left; min-height:70px; border:1px dotted #ddd; padding:1%; background:#ffffff }
a { color:#545866; }
.full { width: 97%; min-height: 1px; border:1px dotted #ddd; padding:1%; background:#ffffff }
.one_half { width: 47.3%;   }
.one_third  { width: 30.40%;   }
.one_fourth  { width: 21.95%;  }
.two_third  { width: 64%;  }
.three_fourth  { width: 72.55%;  }
.one_fifth { width:16.9%;  }
.four_fifth  { width:77.6%;  }
.one_sixth  { width: 13.55%;  }
.five_sixth { width: 80.9%;  }


.last  { padding-right:0; clear:right; margin-right:0;}